<html lang="en">

{{#> head }}

<head>
    {{#> meta }}
    {{> partials/meta }}
    {{/meta }}

    <title>{{ base.title }}</title>

    <!-- Theme css -->
    <link rel="stylesheet" href="/static/css/styles.css" />

    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />

    {{#> head-extra}}
    {{!-- Extra header content goes here --}}
    {{/head-extra}}
</head>
{{/head}}

{{#> body}}

<body>
    {{#> nav}}
    {{> partials/nav}}
    {{/nav}}

    {{#> main}}
    {{!-- page content goes here--}}
    {{/main}}

    {{#> footer}}
    {{> partials/footer}}
    {{/footer}}

    {{#> scripts}}
    {{/scripts}}
</body>
{{/body}}

</html>