<!-- TODO link actual stylesheets -->
<style>
    nav {
        background-color: grey;
    }

    nav a {
        text-decoration: none;
        color: gainsboro;
        font-size: 1.4em;
        padding-bottom: 0.18;
    }

    nav a:hover,
    nav a:active,
    nav a:focus {
        color: turquoise;
        border-bottom: thick solid var(--lightteal);
    }

    nav ul {
        padding-left: 0;
    }

    nav li {
        display: inline-block;
        padding-left: 1.75em;
        padding-bottom: 1em;
    }
</style>

<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>