:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --violetred: #c71585;
  --red: #ff0000;
  --green: #006400;

  --theme-primary: #99aabf;
  --theme-primary-light: #dce2f2;
  --theme-primary-dark: #6d808c;
  --theme-secondary: #158fbf;
  --theme-secondary-light: #bbe2f2;
  --theme-secondary-dark: #0e5673;
  --theme-error: #b00020;
  --theme-text-primary: #252525;
  --theme-text-secondary: #ffffff;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2em;
  color: var(--theme-text-primary);
}

.bg-theme-primary {
  background-color: var(--theme-primary);
}

.bg-theme-primary-light {
  background-color: var(--theme-primary-light);
}

.bg-theme-primary-dark {
  background-color: var(--theme-primary-dark);
}

.bg-theme-secondary {
  background-color: var(--theme-secondary);
}

.bg-theme-secondary-light {
  background-color: var(--theme-secondary-light);
}

.bg-theme-secondary-dark {
  background-color: var(--theme-secondary-dark);
}

.bg-theme-error {
  background-color: var(--theme-error);
}

.theme-text-primary {
  color: var(--theme-text-primary);
}

.theme-text-secondary {
  color: var(--theme-text-secondary);
}

.nav-link {
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  z-index: 100;
  color: var(--theme-primary-dark) !important;
}

.nav-link:hover,
.active {
  color: var(--theme-secondary) !important;
}

.prompt {
  font-weight: bold;
  color: var(--theme-secondary);
}

.brand-icon {
  color: var(--theme-secondary);
}

#brand-text {
  font-family: monospace;
  color: var(--theme-primary-dark);
}

.banner {
  font-family: monospace;
  font-size: 2rem;
}

.banner .social-icon {
  color: var(--theme-secondary);
}

.scrolldown .icon {
  color: var(--theme-secondary);
  font-size: 2rem;
}

.scrolldown .icon:hover {
  color: var(--theme-secondary-dark);
}

.post .title {
  font-weight: bold;
}

.post .tag {
  background: var(--theme-primary);
  border-radius: 2px;
  padding: 0.2em 0.5em 0.3em;
  margin: 0.25em 0.1em;
  font-size: 0.7em;
  letter-spacing: 0.15ch;
  font-weight: 400;
}
